@{
Layout = "~/Views/Shared/_HakkimizdaLayout.cshtml";
ViewData["Title"] = "Ekibimiz";
}

<!-- Layout content -->
<div class="layout-content">

    <!-- Content -->
    <div class="container-fluid flex-grow-1 container-p-y bg-light">

        <h2 class="font-weight-bold py-3 mb-4 text-center">
            Teams
        </h2>
        <!-- Layout wrapper -->
        <div class="layout-wrapper layout-2">
            <div class="layout-inner">
                <div class="layout-container">
                    <!-- Layout content -->
                    <div class="layout-content">
                        <!-- Set `.contacts-col-view` or '.contacts-row-view' to control view mode -->
                        <div class="row contacts-col-view">
							    <div class="contacts-col col-6 text-center">
                                <div class="card mb-4">
                                    <div class="card-body">
                                        <div class="contact-content">
                                            <img src="~/assets/img/avatars/Berkan.jpeg"
                                                class="contact-content-img rounded-circle" alt="">
                                            <div class="contact-content-about">
                                                <h5 class="contact-content-name mb-1"><a href="javascript:void(0)"
                                                        class="text-body">Berkan
                                                        Şaşmaz</a></h5>
                                                <div class="contact-content-user text-muted small mb-2">berkansasmaz
                                                </div>
                                                <div class="small">
                                                    (530) 810 04 11
                                                </div>
                                                <hr class="border-light">
                                                <div>
                                                    <a href="berkansasmazz@gmail.com" class="text-secondary"><span
                                                            class="ion ion-md-mail"></span></a> &nbsp;&nbsp;
                                                    <span class="text-lighter">|</span> &nbsp;&nbsp;
                                                    <a href="https://www.linkedin.com/in/berkansasmaz/"
                                                        class="text-twitter"><span
                                                            class="ion ion-logo-linkedin"></span></a> &nbsp;&nbsp;
                                                    <a href="https://twitter.com/berkansasmazz"
                                                        class="text-twitter"><span
                                                            class="ion ion-logo-twitter"></span></a> &nbsp;&nbsp;
                                                    <a href="https://github.com/berkansasmaz"
                                                        class="text-facebook"><span
                                                            class="ion ion-logo-github"></span></a> &nbsp;&nbsp;
                                                    <a href="https://www.instagram.com/berkansasmazz/"
                                                        class="text-instagram"><span
                                                            class="ion ion-logo-instagram"></span></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="contacts-col col-6 text-center">

                                <div class="card mb-4">
                                    <div class="card-body">
                                        <div class="contact-content">
                                            <img src="~/assets/img/avatars/Taha.jpeg"
                                                class="contact-content-img rounded-circle" alt="">
                                            <div class="contact-content-about">
                                                <h5 class="contact-content-name mb-1"><a href="javascript:void(0)"
                                                        class="text-body">M. Taha
                                                        Soydan</a></h5>
                                                <div class="contact-content-user text-muted small mb-2">mts</div>
                                                <div class="small">

                                                    +0 (123) 456 7891
                                                </div>
                                                <hr class="border-light">
                                                <div>
                                                    <a href="javascript:void(0)" class="text-secondary"><span
                                                            class="ion ion-md-mail"></span></a>
                                                    &nbsp;&nbsp;
                                                    <a href="javascript:void(0)" class="text-secondary"><span
                                                            class="ion ion-ios-chatbubbles"></span></a> &nbsp;&nbsp;
                                                    <span class="text-lighter">|</span> &nbsp;&nbsp;
                                                    <a href="javascript:void(0)" class="text-twitter"><span
                                                            class="ion ion-logo-twitter"></span></a> &nbsp;&nbsp;
                                                    <a href="javascript:void(0)" class="text-facebook"><span
                                                            class="ion ion-logo-facebook"></span></a> &nbsp;&nbsp;
                                                    <a href="javascript:void(0)" class="text-instagram"><span
                                                            class="ion ion-logo-instagram"></span></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><!-- / .row -->
                    </div>
                </div>
            </div>
        </div>
    </div>